# Quartus
db/
incremental_db/
output_files/
*.qpf
*.rpt
*.qsf
*.bak

# QuestaSim FPGA starter edition
simulation/
_info
*.qdb
*.qpg
*.qtl
_vmake

# QuestaSim 1-port ram IP
greybox_tmp/
src/ram_internal.v
src/ram_internal.qip

# TCL script
*.tcl
