# Quartus
db/
incremental_db/
output_files/
*.qpf
*.rpt
*.qsf
*.qws
*.bak

# QuestaSim FPGA starter edition
simulation/
_info
*.qdb
*.qpg
*.qtl
_vmake

# QuestaSim 1-port ram IP
greybox_tmp/
src/ram_internal.v
src/ram_internal.qip
src/ram_internal.cnx

# TCL script
*.tcl

# Scripts
scripts/

# VSCode
.vscode/

# ASM Tests
riscv-tests/
*.riscv
*.riscv_expand_macro
*.hex
*.dump
*.spike
*.spike_dump
*.spike_expand_macro

# Misc
devNote.md

